Project: Student Result Analysis Using K-means and Fuzzy C-means

dataset: https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

Algorithms: KMeans, Fuzzy C-Means

Inspiration: To understand the influence of the parents background, test preparation, etc on students performance

Main Steps:
1. Data preprocessing
2. Outlier Detection
3. Basic Analysis
4. Apply KMeans and visualize results
5. Apply Fuzzy C-means and visualize results
6. Performance Evaluation
7. Conclusion, represent knowledge

In [1]:
import seaborn as sns  # Visualize data
import matplotlib.pyplot as plt
import os
import pandas as pd 
import numpy as np
from sklearn.preprocessing import LabelEncoder  # Preprocessing, 
from sklearn.cluster import KMeans
import plotly.express as px
import random
import operator
import math

In [2]:
# Read student data from csv file
df = pd.read_csv('StudentsPerformance.csv')

In [6]:
# Check data by displaying data head 
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [7]:
# Check data by displaying data tail 
df.tail(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Data is read perfectly!!!

In [8]:
# Generate descriptive statistics
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000